[submodule "dependencies/stb"]
	path = dependencies/stb
	url = git@github.com:nothings/stb.git
[submodule "dependencies/spirv_headers"]
	path = dependencies/spirv_headers
	url = git@github.com:KhronosGroup/SPIRV-Headers.git
[submodule "dependencies/gklib"]
	path = dependencies/gklib
	url = git@github.com:Aeroraven/GKlib.git
[submodule "dependencies/metis"]
	path = dependencies/metis
	url = git@github.com:Aeroraven/METIS.git
[submodule "dependencies/meshoptimizer"]
	path = dependencies/meshoptimizer
	url = git@github.com:zeux/meshoptimizer.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
